html,
body,
#map {
    height: 100%;
    margin: 0;
    padding: 0;
}



/* Split the screen in half */
.split {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(248, 238, 238);
    margin-right: 2000px
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: red;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 100px;
    border-radius: 50%;
  }



  #thumbs { padding-top: 10px; overflow: hidden; }
#thumbs img, #largeImage {
    border: 1px solid gray;
    padding: 4px;
    background-color: white;
    cursor: pointer;
}
#thumbs img {
    float: left;
    margin-right: 0px;
}
#description {
    background: black;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    width: 200px;
    margin: 5px;
}
#panel { position: relative; }

.text-block {
  margin-left: 25px;
}

.roomplan {
  width: 500px;
  height: 500px;
}

.slick-slider {

}
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}


.slick-slide {

}

.slick-slide.slick-active {

}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background-image: url('chevron-down.svg') 0 0 no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
}